@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Staatliches&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 14px;
    background: #b2aab8;
}
::-webkit-scrollbar-thumb{
    background:#ff386f;
    border-radius: 8px;
}
